/* Shrink */
.shrink {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.shrink:hover, .shrink:focus, .shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.socialButton img:hover, .projectButton:hover{
  border: 4px solid #f2f2f2;
  border-radius: 50px;
}

.projectButton:hover{
  font-size: 13px;
  color: white;
  margin-top: 5px;
  padding: 27px 18px;
}

.closeProjectButton:hover{
  border: 4px solid gray;
  color: gray;
}

#weatherSwatch:hover{
  -webkit-box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
  box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
  -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#eightBall:hover{
  -webkit-box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
  box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
  -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#sunriseAlarm:hover{
  -webkit-box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
  box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
  -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#xoxo:hover{
  -webkit-box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
  box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
  -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#metrocity:hover{
  -webkit-box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
  box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
  -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#zoneSix:hover{
  -webkit-box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
  box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
  -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}