#bboyBanner h1{
	font-size: 120px;
	font-family: "Rockwell";
}

#bboyBanner{
	background-image: url(images/backgrounds/snake.jpg);
	background-size: 1850px 120%;
	color: white;
}


/*-------------------------------------- STORY ----------------------------------*/

#bboyStory h1, #bboyCrew h1, #bboyJourney h1, #bboyContact h1, #crewDescription h1{
	font-family: "Rockwell";
	font-size: 100px;
}

#bboyStory{
	color: white;
	background-color: #191919;
}

#blurb{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.blurbTextWrapper{
	width: 490px;
	height: 280px;
	display: inline-table;
}

.blurbText{
	width: 440px;
	height: 220px;
	margin: auto auto;
}

/*-------------------------------------- CREW ----------------------------------*/


.memberWrapper{
	width: 320px;
	height: 320px;
	margin-bottom: 20px;
	display: inline-block;
}

.memberCircle{
	width: 300px;
	height: 300px;
	margin: auto auto;
	border-radius: 200px;
}

.memberWrapperMiddle{
	margin-left: 20px;
	margin-right: 20px;
}

.crewWrapper{
	width: 1008px;
	padding-top: 50px;
	margin-left: 16%;
	margin-right: 16%;
}

.memberCircle:hover{
	width: 280px;
	height: 280px;
	background-size: 280px 280px;
	border: 8px solid black;
	margin-top:10px;
	-webkit-box-shadow: inset 10px 10px 147px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 10px 10px 147px 0px rgba(0,0,0,0.75);
	box-shadow: inset 10px 10px 147px 0px rgba(0,0,0,0.75);
}

#dk{
	background-image: url(images/crewMembers/dk_profile.jpg);
}

#dryleaf{
	background-image: url(images/crewMembers/dryleaf_profile.jpg);
}

#karebear{
	background-image: url(images/crewMembers/karebear_profile.jpg);
}

#juvi{
	background-image: url(images/crewMembers/juvi_profile2.jpg);
}

#karebear{
	background-image: url(images/crewMembers/karebear_profile.jpg);
}

#maddy{
	background-image: url(images/crewMembers/maddy_profile2.jpg);
}

#isotope{
	background-image: url(images/crewMembers/isotope_profile.jpg);
}

#rawfiki{
	background-image: url(images/crewMembers/rawfiki_profile.jpg);
}

#pabreezy{
	background-image: url(images/crewMembers/pabreezy_profile.jpg);
}

#musclez{
	background-image: url(images/crewMembers/musclez_profile.jpg);
}


/*-------------------------------------- CREW DESCRIPTION ----------------------------------*/

.bboyDescription{
	background-color: #a8a8a8;
	padding: 30px 25%;
}

.facebookButton{
	display: block;
	width: 90px;
	height: 90px;
	background-image: url(images/social/facebook.png);
	margin-left: auto;
	margin-right: auto;
}

.facebookButton:hover{
	width: 80px;
	height: 80px;
	margin-top: 5px;
	background-size: 80px 80px;
	border-radius: 50px;
	border: 4px solid #c1c1c1;
}

/*------------------------------------------ JOURNEY -------------------------------------------*/

#bboyJourney{
	background: url(images/backgrounds/cartographer.png);
}