#bboyBanner h1{
	font-size: 120px;
	font-family: "Rockwell";
}

#bboyBanner{
	background-image: url(images/backgrounds/snake.jpg);
	background-size: 1850px 120%;
	color: white;
}


/*-------------------------------------- STORY ----------------------------------*/

#bboyStory h1, #bboyCrew h1, #bboyJourney h1, #bboyContact h1{
	font-family: "Rockwell";
	font-size: 100px;
}

#bboyStory{
	color: white;
	background-color: #191919;
}

#blurb{
	/*display: inline-block;
	width: 50%;*/
	padding-left: 18%;
	padding-right: 18%;
}


/*-------------------------------------- STORY ----------------------------------*/

#bboyCrew{
}

.memberCircle{
	display: inline-block;
	width: 300px;
	height: 300px;
	border-radius: 200px;
	margin-bottom: 20px
}

.memberCircle img{
	width: 300px;
	height: 300px;
	border-radius: 200px;
}

.memberCircleMiddle{
	margin-left: 20px;
	margin-right: 20px;
}

.crewWrapper{
	width: 1000px;
	margin-left: 18%%;
	margin-right: 18%;
}