
#developerBanner{
	height: 100%;
	width: 100%;
	background: url(images/iMac.jpg);
	padding-top: 10%;
}

#developerSkills{
	padding: 0;
}

#iAmText{
	margin-left: 50%;
	background-color: #fef8e7;
	opacity: 0.8;
	-webkit-box-shadow: 18px 10px 200px 120px #fef8e7;
	-moz-box-shadow: 18px 10px 200px 120px #fef8e7;
	box-shadow: 18px 10px 200px 120px #fef8e7;
}

h1{
	font-size: 150px;
	text-transform: uppercase;
	font-family: 'Amatic SC', Arial;
	text-align: center;
}

#iAmText p{
	font-size: 16px;
	text-align: right;
	font-family: 'Lato', Arial;
	text-transform: uppercase;
}

h3{
	text-align: center;
	font-family: 'Lato', Arial;
	text-transform: uppercase;
}

footer{
  padding: 15px 0 15px 0;
  text-align: center;
  background: url(images/backgrounds/footer_lodyas.png);
}

footer p{
  color: #7f8c97;
  text-align: center;
  font-style: italic;
  padding: 0 0 5px 0;
  margin: 0;
}

/*--------------------------------------------------------------- SKILLS -----------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

#lab {
	width: 1000px;
	overflow: hidden;
	padding-bottom: 70px;
	position: relative;
	margin: 0 auto;
	margin-bottom: 2.5em;

	-webkit-transition: all ease 500ms;
	-moz-transition: all ease 500ms;
	-o-transition: all ease 500ms;
	-ms-transition: all ease 500ms;
	transition: all ease 500ms;
}

.lab_item {
	width: 200px;
	height: 230px;
	position: relative;
	display: inline-block;
}

.hexagon2 {
	position: absolute;
	width: 200px;
	height: 400px;
	top: -85px;
}

.hexagon {
	overflow: hidden;
	visibility: hidden;

	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
	cursor: pointer;
}

.hexagon-in1 {
	overflow: hidden;
	width: 100%;
	height: 100%;

	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);
}

.hexagon-in2 {
	/**-webkit-box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);
	box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);**/
	background-color: rgba(176, 218, 212, 0.48);
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50%;

	-webkit-background-size: 125%;
	-moz-background-size: 125%;
	background-size: 125%;
	visibility: visible;

	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);

	/*-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;*/
}

.hexagon-in2:hover {
	/*-webkit-box-shadow: inset 0 0 0 0px #B0DAD4;
	box-shadow: inset 0 0 0 0px #B0DAD4;*/
}

#lab article {
	padding-top: 1em;
	width: 820px;
	margin: 0 auto;
}

.lab_item:nth-child(7n-2) {
	margin-left: 101px;
}

.lab_item:nth-child(n+5) {
	margin-top: -55px;
}


/*------------------------------------------------------------------- PORJECTS --------------------------------------------------------------------*/

.projectWrapper{
	width: 100%;
	height: auto;
	padding: 0 17%;
}

.projectBox{
	width: 320px;
	height: 300px;
	display: inline-block;
	margin: 0;
	/*background-color: rgba(176, 218, 212, 0.48);*/
	background-repeat: no-repeat;
}

.projectBox h3{
	padding-top: 40%;
}

#weatherSwatch{
	background-image: url(images/projects/weatherSwatch.png);
}

#eightBall{
	background-image: url(images/projects/8Ball.png);
}

#sunriseAlarm{
	background-image: url(images/projects/sunriseAlarm.png);
}

#xoxo{
	background-image: url(images/projects/xoxo.png);
}

#metrocity{
	background-image: url(images/projects/metrocity.png);
}

#zoneSix{
	background-image: url(images/projects/zoneSix.png);
}
/*------------------------------------------------------------------- MEDIA QUERIES --------------------------------------------------------------*/

@media (max-width: 1015px) {
	#lab {
	width: 100%;
}

@media (max-width: 820px) {
	.lab_item:nth-child(5n-1) {
		margin-left: 102px;
	}

	.lab_item:nth-child(n+4) {
		margin-top: -62px;
	}

	.lab_item:nth-child(7n-2) {
		margin-left: 0px;
	}

	.lab_item:nth-child(n+5) {
		margin-top: -56px;
	}

	#lab article {
		width: 610px;
	}

}

@media (max-width: 640px) {
	#lab article {
		width: 405px;
	}

	.lab_item:nth-child(5n-1) {
		margin-left: 0px;
	}

	.lab_item:nth-child(3n) {
		margin-left: 102px;
	}

	.lab_item:nth-child(n+3) {
		margin-top: -56px;
	}
}

@media (max-width: 450px) {
	#lab article {
		width: 300px;
	}

	.lab_item:nth-child(3n) {
		margin-left: 0px;
	}

	.lab_item:nth-child(2n) {
		margin-left: 102px;
	}

	.lab_item:nth-child(n+2) {
		margin-top: -56px;
	}
}
