
developer-banner h1, developer-contact h1, developer-project-descriptions h1, developer-projects h1, developer-skills h1{
	font-family: 'Amatic SC', Arial;
}

#developerBanner{
	background: url(images/backgrounds/banner.JPG);
}

#developerSkills{
	padding-left: 0;
	padding-right: 0;
	background-image: url(images/backgrounds/white_wall_hash.png);
}

#iAmDeveloper{
	color: black;
	background-color: #e3cca3;
	opacity: 0.6;
	-webkit-box-shadow: 18px 10px 200px 120px #e3cca3;
	-moz-box-shadow: 18px 10px 200px 120px #e3cca3;
	box-shadow: 18px 10px 200px 120px #e3cca3;
}


/*--------------------------------------------------------------- SKILLS -----------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

#lab {
	width: 1000px;
	overflow: hidden;
	padding-bottom: 70px;
	position: relative;
	margin: 0 auto;

	-webkit-transition: all ease 500ms;
	-moz-transition: all ease 500ms;
	-o-transition: all ease 500ms;
	-ms-transition: all ease 500ms;
	transition: all ease 500ms;
}

.lab_item {
	width: 200px;
	height: 230px;
	position: relative;
	display: inline-block;
}

.hexagon2 {
	position: absolute;
	width: 200px;
	height: 400px;
	top: -85px;
}

.hexagon {
	overflow: hidden;
	visibility: hidden;

	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
	cursor: pointer;
}

.hexagon-in1 {
	overflow: hidden;
	width: 100%;
	height: 100%;

	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);
}

.hexagon-in2 {
	/**-webkit-box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);
	box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);**/
	background-color: rgba(176, 218, 212, 0.48);
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50%;

	-webkit-background-size: 125%;
	-moz-background-size: 125%;
	background-size: 125%;
	visibility: visible;

	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);

	/*-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;*/
}

.hexagon-in2:hover {
	/*-webkit-box-shadow: inset 0 0 0 0px #B0DAD4;
	box-shadow: inset 0 0 0 0px #B0DAD4;*/
}

#lab article {
	padding-top: 1em;
	width: 820px;
	margin: 0 auto;
}

.lab_item:nth-child(7n-2) {
	margin-left: 101px;
}

.lab_item:nth-child(n+5) {
	margin-top: -55px;
}


/*------------------------------------------------------------------- PROJECTS --------------------------------------------------------------------*/

#developerProjects{

}

.projectWrapper{
	width: 970px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.projectBox{
	width: 320px;
	height: 300px;
	display: inline-block;
	margin: 0;
	/*background-color: rgba(176, 218, 212, 0.48);*/
	background-repeat: no-repeat;
}

.projectBox h3{
	padding-top: 40%;
}

.projectDescription{
	padding: 30px 25%;
	width: 100%;
	background-color: rgba(176, 218, 212, 0.48);
}

.projectText, .projectPicture{
	display: inline-block;
	width: 49%;
}

.projectPicture img{
	padding-bottom: 200px;
}

.projectPictureTall img{
	padding-bottom: 0;
	padding-left: 100px;
}

.projectDescription p{
	font-family: 'Lato', Arial;
}

.projectDescription h3, .projectDescription p{
	text-align: left;
}

.projectButton{
	display: block;
	width: 90px;
	height: 90px;
	margin-left: auto;
	margin-right: auto;
	padding: 25px 12px;
	color: white;
	font-size: 24px;
	border-radius: 50px;
	background-color: #67a2d4;
}

.projectButton:hover{
	background-color: #428bca;
	color: white;
	font-size: 13px;
	width: 80px;
	height: 80px;
	margin-top: 5px;
	padding: 27px 18px;
	border: 4px solid #f2f2f2;
}

.closeProjectButton{
	display: block;
	width: 90px;
	height: 90px;
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 8px 25px;
	color: #cccccc;
	font-size: 50px;
	border-radius: 50px;
	border: 4px solid #cccccc;
	background-color: transparent;
}

.closeProjectButton:hover{
	background-color: #d8d8d8;
	border: 4px solid gray;
	color: gray;
	font-size: 40px;
	width: 80px;
	height: 80px;
	margin-top: 5px;
	padding: 8px 24px;
}

.buttonRow{
	margin-top: 30px;
	width: 100%;
	height: 100px;
	padding-top: 5px;
}

#weatherSwatch:hover{
	-webkit-box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
	box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
}

#eightBall:hover{
	-webkit-box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
	box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
}

#sunriseAlarm:hover{
	-webkit-box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
	box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
}

#xoxo:hover{
	-webkit-box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
	box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
}

#metrocity:hover{
	-webkit-box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
	box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
}

#zoneSix:hover{
	-webkit-box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
	box-shadow: inset 0px -183px 0px -170px rgba(0,0,0,0.75);
}


/*------------------------------------------------------------------- CONTACT ME -----------------------------------------------------------------*/

#developerContact{
	background-image: url(images/backgrounds/old_moon.png);
}

#map_canvas {
  width: 100%;
}

#gmap_canvas img{
  max-width:100%;
 }

.socialMediaRow{
	width: 358px;
	margin: 0 auto;
	padding: 50px 0;
}

.socialBox{
	display: inline-block;
}

.socialButton{
	width: 100px;
	height: 100px;
}

.socialButton img:hover{
	width: 80px;
	height: 80px;
	margin: 5px;
	border: 4px solid #f2f2f2;
	border-radius: 50px;
}

.socialMediaRow img{
	height: 90px;
	width: 90px;
}

.aboutTheSite{
	text-align: center;
}

/*------------------------------------------------------------------- MEDIA QUERIES --------------------------------------------------------------*/



@media (max-width: 1600px){
	.projectDescription{
		padding-left: 15%;
		padding-right: 15%;
	}
}

@media (max-width: 1400px){
	#developerBanner{
		background-image: url(images/backgrounds/bannerMid.png);
	}

	#iAmDeveloper{
		margin-top: 70px;
	}
}

@media (max-width: 1080px){
	.projectWrapper{
		width: 700px;
	}

	.projectBox{
		width: 230px;
		height: 216px;
	}

	.projectBox img{
		width: 230px;
		height: 216px;
	}
}


@media (max-width: 1015px) {
	#lab {
		width: 100%;
	}

	.projectDescription{
		padding-left: 5%;
		padding-right: 5%;
	}
}

@media (max-width: 820px) {
	.lab_item:nth-child(5n-1) {
		margin-left: 102px;
	}

	.lab_item:nth-child(n+4) {
		margin-top: -62px;
	}

	.lab_item:nth-child(7n-2) {
		margin-left: 0px;
	}

	.lab_item:nth-child(n+5) {
		margin-top: -56px;
	}

	#lab article {
		width: 610px;
	}

	.projectText, .projectPicture{
		width: 100%;
	}

	.projectPicture img{
		padding-bottom: 0;
		padding-left: 0;
	}

	.projectDescription{
		padding-left: 15%;
		padding-right: 15%;
	}

}

@media (max-width: 790px){
	.projectWrapper{
		width: 500px;
	}

	.navbar{
		padding: 0;
	}
}

@media (max-width: 640px) {

	#lab article {
		width: 405px;
	}

	.lab_item:nth-child(5n-1) {
		margin-left: 0px;
	}

	.lab_item:nth-child(3n) {
		margin-left: 102px;
	}

	.lab_item:nth-child(n+3) {
		margin-top: -56px;
	}
}

@media (max-width: 500px){
	#developerProjects{
		padding-left: 0;
		padding-right: 0;
	}

	#developerProjects h1{
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media (max-width: 550px){

	.projectWrapper{
		width: 365px;
	}

	.projectBox{
		width: 180px;
		height: 169px;
	}

	.projectBox img{
		width: 180px;
		height: 169px;
	}
}

@media (max-width: 450px) {

	#lab article {
		width: 300px;
	}

	.lab_item:nth-child(3n) {
		margin-left: 0px;
	}

	.lab_item:nth-child(2n) {
		margin-left: 102px;
	}

	.lab_item:nth-child(n+2) {
		margin-top: -56px;
	}

	.projectPicture img{
		width: 100%;
	}
}

@media (max-width: 400px){

	.projectWrapper{
		width: 300px;
	}

	.projectBox{
		width: 140px;
		height: 131px;
	}

	.projectBox img{
		width: 140px;
		height: 131px;
	}

	.socialMediaRow{
		width: 320px;
		margin: 0 auto;
		padding: 10px 0;
	}

	.socialButton{
		width: 80px;
		height: 80px;
	}

	.socialButton img:hover{
		width: 70px;
		height: 70px;
		margin: 5px;
		border: 4px solid #f2f2f2;
		border-radius: 50px;
	}

	.socialMediaRow img{
		height: 70px;
		width: 70px;
	}

	.closeProjectButton{
		font-size: 60px;
		padding: 0px 21px;
	}

	.closeProjectButton:hover{
		font-size: 58px;
		padding: 0px 23px;
	}

	.projectButton{
		font-size: 23px;
		padding: 25px 12px;
	}

	.projectButton:hover{
		font-size: 21px;
		padding: 23px 12px;
	}

}
