#frontBboy, #frontDeveloper{
	width: 50%;
	height: 100%;
	float: left;
	background-size: auto 100%;
}

#frontDeveloper{
	background-image: url(images/backgrounds/frontDevBanner4.jpg);
}

#frontBboy{
	background-image: url(images/backgrounds/frontBboyBanner3.jpg);
}

#frontButton{
	width: 400px;
	height: 400px;
	position: absolute;
	position: absolute;
	margin-top: 15%;
	margin-left: -60.5%;
}

#frontBody{
	background-color: black;
}

.blackBackground{
	background-color: black;
}
