#frontBboy, #frontDeveloper{
	width: 50%;
	height: 100%;
	float: left;
	background-size: auto 100%;
}

#frontDeveloper{
	background-image: url(images/backgrounds/frontDevBanner4.jpg);
}

#frontBboy{
	background-image: url(images/backgrounds/frontBboyBanner3.jpg);
}

#frontButton{
	width: 400px;
	height: 400px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 200px;
	border: 4px solid white;
}

#frontBody{
	background-color: black;
}

.blackBackground{
	background-color: black;
}

/*#frontButton:hover{
  border-radius: 500px;
  border: 4px solid white;
}*/

/*#frontDeveloper:hover, #frontBboy:hover{
  -webkit-box-shadow: inset 10px 10px 91px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 10px 10px 91px 0px rgba(0,0,0,0.75);
  box-shadow: inset 10px 10px 91px 0px rgba(0,0,0,0.75);
}*/