html, body, #ng-view { 
	text-align: left;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Century Gothic';
}

.wrapper{
	padding: 150px 10%;
	height: auto;
	overflow-x: hidden;
}

a:hover{
	text-decoration: none;
}

h1{
	margin: 0;
	text-align: center;
	font-weight: bold;
	font-size: 70px;
}

.sectionHeader {
	margin-bottom: 75px;
}

.banner{
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
}

h3, h2{
	text-align: center;
	text-transform: uppercase;
}

.buttonRow{
	width: 100%;
	height: 90px;
	text-align: center;
}

.bottomRow{
	margin-top: 30px;
}

footer{ 
  padding: 15px 0 15px 0;
  text-align: center;
  /*background: url(../resources/images/backgrounds/footer_lodyas.png);*/
  background-color: black;
}

footer p{
  color: #7f8c97;
  text-align: center;
  font-style: italic;
  padding: 0 0 5px 0;
  margin: 0;
}

/*----------------------------------------- MEDIA QUERIES ---------------------------------------*/

@media (max-width: 1280px) {
	.wrapper {
		padding: 75px 10%;
	}

	.wrapper h1 {
		font-size: 36px;
	}

	.sectionHeader {
		margin-bottom: 0px;
	}
}

@media (max-width: 450px) {
	h1{
		font-size: 70px;
	}

	
}
