html, body, #ng-view { 
	text-align: left;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.wrapper{
	padding: 50px 10%;
	height: auto;
	overflow-x: hidden;
}

a:hover{
	text-decoration: none;
}

h1{
	margin: 0;
	text-align: center;
	font-family: 'Century Gothic';
	font-weight: normal;
}

.banner{
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
}

h3, h2{
	text-align: center;
	font-family: 'Century Gothic';
	text-transform: uppercase;
}

.closeProjectButton, .downButton, .upButton{
	display: block;
	width: 90px;
	height: 90px;
	margin: auto;
	padding: 8px 25px;
	color: #cccccc;
	font-size: 50px;
	border-radius: 50px;
	border: 4px solid #cccccc;
	background-color: transparent;
}

.downButton{
	padding: 8px 17px;
}

.upButton{
	padding: 5px 17px;
}

.buttonRow{
	padding-top: 30px;
	width: 100%;
	height: 100px;
	padding-top: 5px;
	text-align: center;
}

.bottomRow{
	margin-top: 30px;
}

footer{ 
  font-family: 'Century Gothic';
  padding: 15px 0 15px 0;
  text-align: center;
  background: url(../resources/images/backgrounds/footer_lodyas.png);
}

footer p{
  color: #7f8c97;
  text-align: center;
  font-style: italic;
  padding: 0 0 5px 0;
  margin: 0;
}

.socialButton img:hover, .projectButton:hover{
  border: 4px solid #f2f2f2;
  border-radius: 50px;
}

.projectButton:hover{
  font-size: 13px;
  color: white;
  margin-top: 5px;
  padding: 27px 18px;
}

.closeProjectButton:hover{
  border: 4px solid gray;
  color: gray;
}


.closeProjectButton:hover, .downButton:hover, .upButton:hover{
  background-color: #d8d8d8;
  border: 4px solid gray;
  color: gray;
  font-size: 40px;
  width: 80px;
  height: 80px;
  margin-top: 5px;
  padding: 8px 24px;
}

/*----------------------------------------- MEDIA QUERIES ---------------------------------------*/

@media (max-width: 450px) {
	h1{
		font-size: 70px;
	}
}
