<div class="projectDescription">

	<div class="buttonRow">
		<a class="closeProjectButton" ng-click="projectService.setProject(-2)">
			<p>X</p>
		</a>
	</div>

	<h1>XOXO</h1>

	<h3>Ultimate Tic-Tac-Toe</h3>

	<p>No - not just 3x3 tic-tac-toe.</p>
	<p>XOXO features 4x4 single and double player modes.</p>

	<h3>Story behind XOXO</h3>

	<p>I simply wanted to play 4x4 tic-tac-toe where you could still win with 3 in a row.</p>
	<p>Winning with 4 in a row is really hard - even on easy mode.</p>

	<h3>Under the Hood</h3>

	<p>Tools used include: </p>

	<ul>
		<li>Java Swing Library</li>
	</ul>

	<p>*Logo was designed and smithed personally.</p>
	
	<div class="buttonRow">
		<a class="projectButton" href="https://github.com/JustinSYDE/Ultimate-Tic-Tac-Toe">
			<p>See It!</p>
		</a>
	</div>
</div>