<div id="developerProjects" class="wrapper">
	<h1>Memoirs of a Developer</h1>
	<h3>MY PROJECTS</h3>

	<div class="projectWrapper">
		<!--div class="boxtest" style="width: 50px; height: 50px; background-color: black"></div-->
		<div id="weatherSwatch" class="projectBox" href="#" ng-click="projectService.setProject(1)">
		</div>

		<div id="eightBall" class="projectBox" href="#" ng-click="projectService.setProject(2)">
		</div>

		<div id="sunriseAlarm" class="projectBox" href="#" ng-click="projectService.setProject(3)">
		</div>

		<div id="xoxo" class="projectBox" href="#" ng-click="projectService.setProject(4)">
		</div>

		<div id="metrocity" class="projectBox" href="#" ng-click="projectService.setProject(5)">
		</div>

		<div id="zoneSix" class="projectBox" href="#" ng-click="projectService.setProject(6)">
		</div>
	</div>
</div>