<div id="developerProjects" class="wrapper">
	<h1>Memoirs of a Developer</h1>
	<h3>MY PROJECTS</h3>

	<div class="projectWrapper">
		<!--div class="boxtest" style="width: 50px; height: 50px; background-color: black"></div-->
		<div id="weatherSwatch" class="projectBox" href="#" ng-click="projectService.setProject(1)" ng-mouseOver="projectService.setHoveredProject(1)" ng-mouseLeave="projectService.setHoveredProject(-2)">
		</div>

		<div id="eightBall" class="projectBox" href="#" ng-click="projectService.setProject(2)">
			<h3 ng-show="projectService.isHovered(2)">8 Ball</h3>
		</div>

		<div id="sunriseAlarm" class="projectBox" href="#" ng-click="projectService.setProject(3)">
			<h3 ng-show="projectService.isHovered(3)">Sunrise Alarm</h3>
		</div>

		<div id="xoxo" class="projectBox" href="#" ng-click="projectService.setProject(4)">
			<h3 ng-show="projectService.isHovered(4)">XOXO</h3>
		</div>

		<div id="metrocity" class="projectBox" href="#" ng-click="projectService.setProject(5)">
			<h3 ng-show="projectService.isHovered(5)">Metrocity</h3>
		</div>

		<div id="zoneSix" class="projectBox" href="#" ng-click="projectService.setProject(6)">
			<h3 ng-show="projectService.isHovered(6)">Zone Six Design Build Ltd</h3>
		</div>
	</div>

	<div id="projectDescription">
		<developer-weather-swatch ng-show="projectService.isSet(1)"></developer-weather-swatch>
		<developer-eight-ball ng-show="projectService.isSet(2)"></developer-eight-ball>
		<developer-sunrise-alarm ng-show="projectService.isSet(3)"></developer-sunrise-alarm>
		<developer-xoxo ng-show="projectService.isSet(4)"></developer-xoxo>
		<developer-metrocity ng-show="projectService.isSet(5)"></developer-metrocity>
		<developer-zone-six ng-show="projectService.isSet(6)"></developer-zone-six>
	</div>
</div>