<div class="projectDescription">
	<div class="buttonRow">
		<div class="closeProjectButton" ng-click="projectService.setProject(-2)">
			<img class = "shrink" src="resources/images/closeButton.png">
		</div>
	</div>

	<h1>Weather Swatch</h1>
	
	<div class = "projectContentWrapper">
		<div class="projectPicture">
			<img src="resources/images/projects/weatherSwatchPreview.png">
		</div>
		
		<div class="projectText">
			<h3>What is Weather Swatch?</h3>

			<p>Need a little inspiration for the color scheme of your website?</p> 
			<p>Weather Swatch generates a collection of color swatches based on the current weather conditions in a specific city.</p>

			<h3>Under the Hood</h3>
			<p>This webapp was written using the BAR (Bootstrap + AngularJS + RequireJS) template I wrote which can be found here: https://github.com/JustinSYDE/BAR-Boilerplate.

			Tools used include: </p>

			<ul>
				<li>AngularJS</li>
				<li>AJAX</li>
				<li>jQuery</li>
				<li>Twitter Bootstrap</li>
				<li>RequireJS</li>
				<li>simpleWeather</li>
			</ul>

			<p>*Logo was designed and smithed personally.</p>
		</div>
	</div>

	<div class="buttonRow bottomRow">
		<a class="projectButton shrink" href="https://itunes.apple.com/us/app/dont-rush/id1011626046?ls=1&mt=8">
			<img src="resources/images/projects/seeIt.png">
		</a>
	</div>
</div>