<div class="projectDescription">
	<div class="buttonRow">
		<div class="closeProjectButton" ng-click="projectService.setProject(-2)">
			<img class = "shrink" src="resources/images/closeButton.png">
		</div>
	</div>

	<h1>SMART Trek</h1>
	
	<div class="projectContentWrapper">
		<div class="projectPicture">
			<img src="resources/images/projects/smartTrekPreview.gif">
		</div>

		<div class="projectText">	
			<h3>Fastest Game Setup</h3>
			<p>We worked with teachers and students in Washington to build a Notebook activity that allows teachers to setup a fun and educational multiplayer game in just a few seconds. This is achieved through our document parser that reads in teachers' multiple choice tests and outputs data for the game.</p>
			
			<h3>Flexibility</h3>
			<p>The game supports multiple themes and allows teachers to include different forms of media as answer options.</p>
			
			<h3>Under the Hood</h3>

			<p>Tools used include: </p>
			<ul>
				<li>HTML, CSS, SASS</li>
				<li>JavaScript, EmberJS</li>
			</ul>
		</div>
	</div>

	<div class="buttonRow bottomRow">
		<a class="projectButton shrink" href="http://education.smarttech.com/en/products/notebook">
			<img src="resources/images/projects/seeIt.png">
		</a>
	</div>
</div>
