<div class="projectDescription">
  <div class="buttonRow">
    <div class="closeProjectButton" ng-click="projectService.setProject(-2)">
      <img class = "shrink" src="resources/images/closeButton.png">
    </div>
  </div>

  <h1>Sales Leaderboard</h1>

  <div class="projectContentWrapper">
    <div class="projectPicture">
      <img src="resources/images/projects/leaderboard.png">
    </div>

    <div class="projectText">
      <h3>Live SalesForce Data</h3>
      <p>Leads and closed deals numbers for each region and city are pulled from SalesForce as the data is updated.</p>

      <h3>Under the Hood</h3>
      <ul>
        <li>Built for WordPress</li>
        <li>PHP</li>
        <li>HTML, SASS, JavaScript</li>
      </ul>
    </div>
  </div>
</div>
