<div class="projectDescription">
	<div class="buttonRow">
		<div class="closeProjectButton" ng-click="projectService.setProject(-2)">
			<img class = "shrink" src="resources/images/closeButton.png">
		</div>
	</div>

	<h1>SMART Notebook</h1>
	
	<div class="projectContentWrapper">
		<div class="projectPicture">
			<img src="resources/images/projects/notebookPreview.png">
		</div>

		<div class="projectText">	
			<h3>Notebook SDK</h3>
			<p>I added new APIs to the SDK to help support the development of a new page sorter, a new lesson recorder add-on, and other applications in versions 2.6.0 to 2.9.0.</p>
			
			<h3>Lesson Recorder</h3>
			<p>This was a key feature in Notebook 15 and I worked closely with UI/UX to build the front-end of the new Lesson Recorder in Notebook 15.</p>

			<h3>Notebook 15, 15.1 and 15.2</h3>
			<p>I liked to tackle bugs in unfamiliar areas of the code including GPU rendering, 3D rendering, and drag and drop. I also helped refactor a chunk of the legacy code and performed occasional maintenace of software architecture.</p>
			
			<h3>Under the Hood</h3>
			<p>Tools used include: </p>
			<ul>
				<li>C++, .NET</li>
				<li>Objective-C, Cocoa</li>
				<li>HTML, CSS</li>
				<li>JavaScript, AngularJS</li>
				<li>& more</li>
			</ul>
		</div>
	</div>

	<div class="buttonRow bottomRow">
		<a class="projectButton shrink" href="http://education.smarttech.com/en/products/notebook">
			<img src="resources/images/projects/seeIt.png">
		</a>
	</div>
</div>
