<div class="projectDescription">

	<div class="buttonRow">
		<a class="closeProjectButton" ng-click="projectService.setProject(-2)">
			<p>X</p>
		</a>
	</div>

	<h1>Sunrise Alarm</h1>

	<h3>What is this?</h3>

	<p>It's an alarm clock - that rings when the sun comes up.</p> 
	<p>Think of this as a replacement for your rooster in the backyard</p>

	<h3>Nothing beats binary in the morning</h3>
	<p>Turning off this sunrise alarm is just as difficult as chasing your rooster around.</p>
	<p>Snoozing the alarm is as simple as pushing a button</p>
	<p>However, to turn off the alarm, the user has to convert a number from binary to hexidecimal.</p> 
	<p>Crazy? The team wanted to ensure that the user would wake up and we thought this should do it.</p>

	<h3>Under the Hood</h3>

	<p>Tools used include: </p>

	<ul>
		<li>Arduino UNO</li>
		<li>Arduino time library</li>
		<li>Photoresistors</li>
		<li>Tri-LEDs</li>
		<li>Speakers</li>
		<li>& other hardware</li>
	</ul>

	<p>*Logo was designed and smithed personally.</p>

	<div class="buttonRow">
		<a class="projectButton" href="http://github.com/JustinSYDE/Sunrise-Alarm">
			<p>See It!</p>
		</a>
	</div>
</div>