<div class="projectDescription">
	<div class="buttonRow">
		<div class="closeProjectButton" ng-click="projectService.setProject(-2)">
			<img class = "shrink" src="resources/images/closeButton.png">
		</div>
	</div>

	<h1>Zone Six</h1>
	
	<div class="projectContentWrapper">
		<div class="projectPicture">
			<img src="resources/images/projects/zoneSixPreview.png">
		</div>

		<div class="projectText">	
			<h3>Old to the New</h3>

			<p>My job was to help design and build this new website.</p>
			<p>We wanted update their to the former website to something modern and fun.</p>
			<p>I also designed a brand new logo for the company.</p> 

			<h3>Under the Hood</h3>

			<p>Tools used include: </p>

			<ul>
				<li>AngularJS</li>
				<li>RequireJS</li>
				<li>Twitter Bootstrap</li>
			</ul>
		</div>
	</div>

	<div class="buttonRow bottomRow">
		<a class="projectButton shrink" href="http://zonesix.com/">
			<img src="resources/images/projects/seeIt.png">
		</a>
	</div>
</div>
