<div class="projectDescription">
  <div class="buttonRow">
    <div class="closeProjectButton" ng-click="projectService.setProject(-2)">
      <img class = "shrink" src="resources/images/closeButton.png">
    </div>
  </div>

  <h1>Athos</h1>

  <div class = "projectContentWrapper">
    <div class="projectPicture projectPictureTall">
      <img id ="athos" src="resources/images/projects/athos.png">
    </div>

    <div class="projectText">
      <h3>Work Metrics</h3>
      <p>Built backend to aggregate work metrics sent from Athos gear.</p>

      <h3>Under the Hood</h3>

      <ul>
        <li>Python</li>
        <li>Flask</li>
      </ul>
    </div>
  </div>
</div>
