<div class="projectDescription">
	<div class="buttonRow">
		<div class="closeProjectButton" ng-click="projectService.setProject(-2)">
			<img class = "shrink" src="resources/images/closeButton.png">
		</div>
	</div>

	<h1>SMART Notebook</h1>

	<div class="projectContentWrapper">
		<div class="projectPicture">
			<img src="resources/images/projects/notebookPreview.png">
		</div>

		<div class="projectText">
			<h3>Notebook</h3>
			<p>I worked extensively with the Notebook SDK to create new features for Notebook. I also contributed to the SDK by adding new APIs and refactoring old ones. I enjoyed fixing challenging bugs in unfamiliar areas including 3D rendering or GPU rendering.</p>

			<h3>Lesson Recorder</h3>
			<p>I worked closely with UI/UX to build the front-end of the new Lesson Recorder - which was a key feature in Notebook 15!</p>

			<h3>Under the Hood</h3>
			<ul>
				<li>C++, .NET</li>
				<li>Objective-C, Cocoa</li>
				<li>HTML, CSS, AJAX, JavaScript & AngularJS</li>
			</ul>
		</div>
	</div>

	<div class="buttonRow bottomRow">
		<a class="projectButton shrink" href="http://education.smarttech.com/en/products/notebook">
			<img src="resources/images/projects/seeIt.png">
		</a>
	</div>
</div>
