<div class="projectDescription">
	<div class="buttonRow">
		<div class="closeProjectButton" ng-click="projectService.setProject(-2)">
			<img class = "shrink" src="resources/images/closeButton.png">
		</div>
	</div>

	<h1>Don't Rush</h1>

	<div class="projectPicture projectPictureTall">
		<img id ="dontRushGift" src="resources/images/projects/dontRushPreview.gif">
	</div>

	<div class="projectText">
		<h3>A Toilet Game</h3>
		<p>Don't Rush is a simple swiping game to have you think before you swipe right. Unlock new levels and challenges with new high scores!</p> 
		<p>Try it by installing the app (link below).</p>

		<h3>My First iPhone App</h3>
		<p>This was my opportunity to learn the iOS SDK and to gain experience with managing the entire lifecycle of an app on the AppStore.</p>
		
		<p>Ran interviews and user testing with Tinderers and non-tinderers to improve gameplay, game mechanics, and UI/UX.</p>

		<p>Gained exposure and got involved with the indie dev community via /r/IndieDev.</p>
		<h3>Under the Hood</h3>

		<p>Tools used include: </p>

		<ul>
			<li>Xcode</li>
			<li>Cocoa Touch</li>
			<li>Pretty simple app</li>
		</ul>

		<p>*Icons & logo were designed and smithed personally.</p>
	</div>

	<div class="buttonRow bottomRow">
		<a class="projectButton shrink" href="https://itunes.apple.com/us/app/dont-rush/id1011626046?ls=1&mt=8">
		</a>
	</div>
</div>