<div class="projectDescription">

	<div class="buttonRow">
		<a class="closeProjectButton" ng-click="projectService.setProject(-2)">
			<p>X</p>
		</a>
	</div>

	<h1>8 Ball</h1>

	<h3>A Mind Reader</h3>

	<p>8 Ball is a mind reader iOS app.</p> 
	<p>Have your mind read by installing the app (link below).</p>

	<h3>Flash Mind Reader</h3>
	<p>This app's algorithm is based off the notorious Flash Mind Reader game that ruled the internet when it first came out</p>
	<p>I remember flipping tables because I couldn't figure out how it was doing it's magic.</p>
	<p>My goal was to create a similar app with a different user interface while maintaining that same creepiness of the original mind reader app.</p>

	<h3>Under the Hood</h3>

	<p>Tools used include: </p>

	<ul>
		<li>Arduino UNO</li>
		<li>Arduino time library</li>
		<li>Photoresistors</li>
		<li>Tri-LEDs</li>
		<li>Speakers</li>
		<li>& other hardware</li>
	</ul>

	<p>*Icons & logo were designed and smithed personally.</p>

	<div class="buttonRow">
		<a class="projectButton" href="https://github.com/JustinSYDE/eightBall">
			<p>See It!</p>
		</a>
	</div>
</div>