<div class="projectDescription">

	<div class="buttonRow">
		<a class="closeProjectButton" ng-click="projectService.setProject(-2)">
			<p>X</p>
		</a>
	</div>

	<h1>Metrocity</h1>

	<div class="projectPicture">
		<img src="css/images/projects/metrocityScreenshot.png">
	</div>

	<div class="projectText">
		<h3>What is Metrocity?</h3>

		<p>Torontonians and visitors,</p> 
		<p>Trouble deciding on either buying a TTC Metropass or just sticking to tokens?</p>
		<p>Metrocity helps you decide which is the best solution for you.</p>

		<h3>This Doesn't Exist Already?</h3>
		<p>I was shocked to find that such an app did not exist.</p>
		<p>When I worked at a bank downtown, I communuted occasionaly and I had access to student discounts to the Metropass.</p>
		<p>It took me a fair amount of research and time to figure out what to purchase.</p>
		<p>I figured I wasn't alone on this issue - so I built Metrocity!</p>

		<h3>Under the Hood</h3>
		<p>This was the second website I smithed and my first attempt at a webapp.</p>
		<p>It's not lovely code but it symbolizes the start of my journey towards being a developer.</p>

		<p>Tools used include: </p>

		<ul>
			<li>jQuery</li>
		</ul>

		<p>*Logo was designed and smithed personally.</p>
	</div>

	<div class="buttonRow">
		<a class="projectButton" href="http://justinsyde.github.io/Metrocity">
			<p>See It!</p>
		</a>
	</div>
</div>