<div class="projectDescription">
  <div class="buttonRow">
    <div class="closeProjectButton" ng-click="projectService.setProject(-2)">
      <img class = "shrink" src="resources/images/closeButton.png">
    </div>
  </div>

  <h1>Saiko Logo</h1>

  <div class = "projectContentWrapper">
    <div class="projectPicture projectPictureTall">
      <img id ="dontRushGif" src="resources/images/projects/saikoJerseys.png">
    </div>

    <div class="projectText">
      <h3>Baseball Crest</h3>
      <p>This logo was designed to be embroidered on Saiko's (my crew) baseball jerseys.</p>
      <p>I found inspiration from famous MLB team crests.</p>
      <p>Black, white and cream are Saiko's colours.</p>
      <p>The image at the center of the crest is Saiko's handshake.</p>

      <h3>Under the Hood</h3>

      <ul>
        <li>Illustrator & Photoshop</li>
      </ul>
    </div>
  </div>
</div>
