<div class="projectDescription">

	<div class="buttonRow">
		<a class="closeProjectButton shrink" ng-click="projectService.setProject(-2)">
			<p>X</p>
		</a>
	</div>

	<h1>Zone Six</h1>

	<div class="projectPicture">
		<img src="css/images/projects/zoneSixScreenshot.png">
	</div>

	<div class="projectText">	
		<h3>Landscaping Company</h3>
		<p>Zone Six Design Build Ltd. is a landscaping company founded in 1994 in Toronto, Canada.</p>
		<p>They have worked with firms including Corban and Goode, Ferris & Associates Inc, William Dewson Architects & many more. </p>
		<p>The company provides softscape and hardscape services for both residential and commercial consumers.</p>
		<p>Specialty services include woodwork and stonework</p>

		<h3>Old to the New</h3>

		<p>Zone Six made plans to update their former website to something more modern, minimalistic and fun.</p>
		<p>My job was to design and build this new website.</p>
		<p>Other responsibilities included designing a new company logo and editing the portfolio photos to be uploaded to the website.</p>
		<p>The new website is responsive, mobile & tablet-friendly and sports a modern look.</p> 

		<h3>Under the Hood</h3>

		<p>Tools used include: </p>

		<ul>
			<li>AngularJS</li>
			<li>RequireJS</li>
			<li>Twitter Bootstrap</li>
			<li>& other APIs</li>
		</ul>

		<p>*Logo was designed and smithed personally.</p>
	</div>
	<div class="buttonRow bottomRow">
		<a class="projectButton shrink" href="http://zonesix.com/#/">
		</a>
	</div>
</div>
