<div class="projectDescription">
  <div class="buttonRow">
    <div class="closeProjectButton" ng-click="projectService.setProject(-2)">
      <img class = "shrink" src="resources/images/closeButton.png">
    </div>
  </div>

  <h1>Menu Upload Tool</h1>

  <div class="projectContentWrapper">
    <div class="projectPicture">
      <img src="resources/images/projects/merchantPortal.png">
    </div>

    <div class="projectText">
      <h3>Streamlining the Onboarding Process</h3>
      <p>The menu upload tool saves CAKE Sales representatives hours by allowing new restaurants to submit their restaurant information to CAKE and SalesForce online.</p>

      <h3>Under the Hood</h3>
      <ul>
        <li>PHP & Symfony</li>
        <li>AWS S3 Bucket Integration</li>
        <li>SalesForce API</li>
        <li>HTML, CSS & JavaScript</li>
      </ul>
    </div>
  </div>
</div>
