<div class="projectDescription">
	<div class="buttonRow">
		<div class="closeProjectButton" ng-click="projectService.setProject(-2)">
			<img class = "shrink" src="resources/images/closeButton.png">
		</div>
	</div>

	<h1>Zone Six</h1>
	
	<div class="projectContentWrapper">
		<div class="projectPicture">
			<img src="resources/images/projects/zoneSixPreview.png">
		</div>

		<div class="projectText">	
			<h3>Old to the New</h3>

			<p>Zone Six made plans to update their former website to something more modern, minimalistic and fun.</p>
			<p>My job was to help design and build this new website.</p>
			<p>Other responsibilities included designing a new company logo and editing the portfolio photos to be uploaded to the website.</p>
			<p>The new website is responsive, mobile & tablet-friendly and sports a modern look.</p> 

			<h3>Under the Hood</h3>

			<p>Tools used include: </p>

			<ul>
				<li>AngularJS</li>
				<li>RequireJS</li>
				<li>Twitter Bootstrap</li>
				<li>& other APIs</li>
			</ul>

			<p>*Logo was designed and smithed personally.</p>
		</div>
	</div>

	<div class="buttonRow bottomRow">
		<a class="projectButton shrink" href="https://itunes.apple.com/us/app/dont-rush/id1011626046?ls=1&mt=8">
			<img src="resources/images/projects/seeIt.png">
		</a>
	</div>
</div>
