<div class="projectDescription">
	<div class="buttonRow">
		<div class="closeProjectButton" ng-click="projectService.setProject(-2)">
			<img class = "shrink" src="resources/images/closeButton.png">
		</div>
	</div>

	<h1>SMART Trek</h1>

	<div class="projectContentWrapper">
		<div class="projectPicture">
			<img src="resources/images/projects/smartTrekPreview.gif">
		</div>

		<div class="projectText">
			<h3>Fastest Game Setup</h3>
			<p>My team and I worked with our target customers to build a Notebook activity that would allow teachers to setup a fun, educational, multiplayer game in just a few seconds. This was achieved with our document parser that could read in a teacher's multiple choice tests to populate data for the game.</p>

			<h3>Flexibility</h3>
			<p>The game supports multiple themes and also allows teachers to include different forms of media as answer options.</p>

			<h3>Under the Hood</h3>

			<ul>
				<li>HTML, CSS, SASS</li>
				<li>JavaScript, EmberJS</li>
			</ul>
		</div>
	</div>

	<div class="buttonRow bottomRow">
		<a class="projectButton shrink" href="http://education.smarttech.com/en/products/notebook">
			<img src="resources/images/projects/seeIt.png">
		</a>
	</div>
</div>
