<div class="projectDescription">
	<div class="buttonRow">
		<div class="closeProjectButton" ng-click="projectService.setProject(-2)">
			<img class = "shrink" src="resources/images/closeButton.png">
		</div>
	</div>

	<h1>SMART Notebook</h1>
	
	<div class="projectContentWrapper">
		<div class="projectPicture">
			<img src="resources/images/projects/notebookPreview.png">
		</div>

		<div class="projectText">	
			<h3>Coming Soon</h3>

			<!--h3>Under the Hood</h3>

			<p>Tools used include: </p>

			<ul>
				<li></li>
			</ul-->
		</div>
	</div>

	<div class="buttonRow bottomRow">
		<a class="projectButton shrink" href="http://education.smarttech.com/en/products/notebook">
			<img src="resources/images/projects/seeIt.png">
		</a>
	</div>
</div>
