<div class="projectDescription">
  <div class="buttonRow">
    <div class="closeProjectButton" ng-click="projectService.setProject(-2)">
      <img class = "shrink" src="resources/images/closeButton.png">
    </div>
  </div>

  <h1>Recommendations Engine</h1>

  <div class = "projectContentWrapper">
    <div class="projectPicture">
      <img src="resources/images/projects/neo4j.png">
    </div>

    <div class="projectText">
      <h3>Database Migration</h3>
      <p>I designed a new data model and migrated CAKE's data in MongoDB to a Neo4J instance.</p>
      <p>In a graph database, relationships between different data nodes are clearly established making it easy to traverse the data and generate restaurant and dish recommendations.</p>

      <h3>Topic Modelling</h3>
      <p>The Gensim Python library was used to determine rank recommendations by similarity.</p>

      <h3>Cracking the Cold-Start Problem</h3>
      <p>The biggest challenge my team encountered was returning good suggestions with little user data.</p>

      <h3>Under the Hood</h3>
      <ul>
        <li>MongoDB & Neo4J</li>
        <li>Python & Gensim</li>
        <li>Heroku</li>
        <li>NodeJS</li>
      </ul>
    </div>
  </div>
</div>
