<div class="projectDescription">
  <div class="buttonRow">
    <div class="closeProjectButton" ng-click="projectService.setProject(-2)">
      <img class = "shrink" src="resources/images/closeButton.png">
    </div>
  </div>

  <h1>Landing Pages</h1>

  <div class="projectContentWrapper">
    <div class="projectPicture">
      <img src="resources/images/projects/salesLanding.png">
    </div>

    <div class="projectText">
      <h3>Simple Page Generation</h3>
      <p>Behind this template is a WordPress wizard I built for CAKE sales representatives to easily create their own trycake.com landing pages.</p>

      <h3>Slack Notifications</h3>
      <p>Sales representatives receive an email and a Slack notification when a visitor sends them a message via their page.</p>

      <h3>Under the Hood</h3>

      <ul>
        <li>Built for WordPress</li>
        <li>PHP</li>
        <li>HTML, SASS, JavaScript</li>
      </ul>
    </div>
  </div>

  <div class="buttonRow bottomRow">
    <a class="projectButton shrink" href="http://trycake.com/amir">
      <img src="resources/images/projects/seeIt.png">
    </a>
  </div>
</div>
