<div class="projectDescription">
	<div class="buttonRow">
		<div class="closeProjectButton" ng-click="projectService.setProject(-2)">
			<img class = "shrink" src="resources/images/closeButton.png">
		</div>
	</div>

	<h1>Weather Swatch</h1>

	<div class = "projectContentWrapper">
		<div class="projectPicture">
			<img src="resources/images/projects/weatherSwatchPreview.png">
		</div>

		<div class="projectText">
			<h3>What is Weather Swatch?</h3>

			<p>Need a little inspiration for the color scheme of your website?</p>
			<p>Weather Swatch generates a collection of color swatches based on the current weather conditions in a specific city.</p>

			<h3>Under the Hood</h3>
			<p>Built with AngularJS 1x. Not 2x but don't fix it if it ain't broke.</p>
		</div>
	</div>

	<div class="buttonRow bottomRow">
		<a class="projectButton shrink" href="http://justinsyde.github.io/WeatherSwatch/#/">
			<img src="resources/images/projects/seeIt.png">
		</a>
	</div>
</div>
