<div id="projectDescription">
	<developer-weather-swatch ng-show="projectService.isSet(1)"></developer-weather-swatch>
	<developer-dont-rush ng-show="projectService.isSet(2)"></developer-dont-rush>
	<developer-zone-six ng-show="projectService.isSet(7)"></developer-zone-six>
	<developer-smart-trek ng-show="projectService.isSet(3)"></developer-smart-trek>
	<developer-notebook ng-show="projectService.isSet(4)"></developer-notebook>
  <developer-landing-pages ng-show="projectService.isSet(5)"></developer-landing-pages>
  <developer-leaderboard ng-show="projectService.isSet(6)"></developer-leaderboard>
  <developer-neo4j ng-show="projectService.isSet(8)"></developer-neo4j>
</div>
