<div id="projectDescription">
	<developer-weather-swatch ng-show="projectService.isSet(1)"></developer-weather-swatch>
	<developer-dont-rush ng-show="projectService.isSet(2)"></developer-dont-rush>
	<developer-sunrise-alarm ng-show="projectService.isSet(3)"></developer-sunrise-alarm>
	<developer-xoxo ng-show="projectService.isSet(4)"></developer-xoxo>
	<developer-metrocity ng-show="projectService.isSet(5)"></developer-metrocity>
	<developer-eight-ball ng-show="projectService.isSet(6)"></developer-eight-ball>
	<developer-zone-six ng-show="projectService.isSet(7)"></developer-zone-six>

</div>