<div id="developerContact" class="wrapper">
	<h1>Holler at Me</h1>
	<h2>Technology, business or Tomb Raider?</h2>
	<h2>Let's talk.</h2>

	<div class="socialMediaRow">
		<div class="socialBox">
			<a id="mail" class="socialButton" href="mailto:jh8wong@uwaterloo.ca?Subject=Hey%20Justin">
				<img src="css/images/social/mail.png">
			</a>
		</div>

		<div class="socialBox" style="margin: 0 25px">
			<a id="linkedIn" class="socialButton" href="http://ca.linkedin.com/in/justinsyde/">
				<img src="css/images/social/linkedin.png">
			</a>
		</div>

		<div class="socialBox">
			<a id="github" class="socialButton" href="https://github.com/JustinSYDE">
				<img src="css/images/social/github.png">
			</a>
		</div>
	</div>

	<div class="aboutTheSite">
		<h2>UNDER THE HOOD</h2>
		<p style="margin-bottom: 0">* This site was built with AngularJS, RequireJS, Twitter Bootstrap, jQuery & other APIs.</p>
		<p style="margin: 0">Project icons and logos were created personally.</p>
		<p style="margin: 0">iPhone is a trademark of Apple, Inc.</p>
		<p style="margin: 0">Arduino UNO is a trademark of Arduino.</p>
	</div>
</div>