<div id="developerBanner" class="banner">
	<div id="centerMenu">
		<h1>justin</h1>
    <div id="meBlurb">
      <p>I'm a Systems Design engineering student at the University of Waterloo.</p>
      <p>I've interned at <a href='http://trycake.com'>CAKE Corporation</a>, <a href='http://smarttech.com'>SMART Technologies</a> and <a href='http://cibc.com'>CIBC</a>. </p>
      <p> I'm also a semi-professional <a href='https://www.youtube.com/watch?v=eEqh9JsNcvM'>bboy</a> representing Saiko Skematiks Squad.</p>
    </div>
	</div>

	<div class = "nextSectionIndicatorRow">
		<img ng-click="projectService.scrollTo('#developerProjects')" class="bounce" src="resources/images/nextPage.png">
	</div>
</div>
