<div id="developerContact" class="wrapper">
	<div class="sectionHeaderWrapper">
		<h1 class id="referencesHeader">TECHNOLOGY, BUSINESS OR HIP HOP</h1>
		<h2 style = "margin-bottom: 75px">Let's talk.</h2>
	</div>

	<div class="socialMediaRow">
		<div class = "socialBox">
			<a id = "mail" href = "mailto:jh8wong@uwaterloo.ca?Subject=Hey%20Justin"><img class="shrink" src="resources/images/social/mail.png"></a>
		</div>

		<div class = "socialBox" id = "middleSocialBox">
			<a id = "linkedIn" href = "http://ca.linkedin.com/in/justinsyde/"><img class="shrink" src="resources/images/social/linkedin.png"></a>
		</div>

		<div class = "socialBox">
			<a id = "github" href="https://github.com/JustinSYDE"><img class="shrink" src="resources/images/social/github.png"></a>
		</div>
	</div>

	<div class="aboutTheSite">
		<p style="margin-top: 40px">I'm a developer that can headspin.</p>
	</div>
</div>

