<div id="developerBanner" class="banner">
	<div id="centerMenu">
		<h1>justin</h1>
		<p><!--a>SYSTEMS DESIGN ENGINEERING STUDENT</a>    <a>& BREAKDANCER</a-->I'm a Systems Design engineering student at the University of Waterloo. I'm also a semi-professional bboy representing Saiko Skematiks Squad. I've interned at <a href='http://trycake.com'>CAKE Corporation</a>, <a href='http://smarttech.com'>SMART Technologies</a> and <a href='http://cibc.com'>CIBC</a>. </p>
	</div>

	<div class = "nextSectionIndicatorRow">
		<img ng-click="projectService.scrollTo('#developerProjects')" class="bounce" src="resources/images/nextPage.png">
	</div>
</div>
