<div id="developerProjects" class="wrapper">
	<h1>WORK</h1>

	<div class="projectWrapper">
		<div id="smartNotebook" class="shrink" href="#" ng-click="projectService.setProject(0)">
			<img src="resources/images/projects/smartBoard.png">
		</div>

		<div id="smartTrek" class="shrink" href="#" ng-click="projectService.setProject(0)">
			<img src="resources/images/projects/smartTrekPreview.png">
		</div>

		<div id="weatherSwatch" class="shrink" href="#" ng-click="projectService.setProject(1)">
			<img src="resources/images/projects/weatherSwatchPreview.png">
		</div>
		
		<div id="dontRush" class="shrink" href="#" ng-click="projectService.setProject(2)">
			<img src="resources/images/projects/dontRushPreview2.png">
		</div>

		<div id="zoneSix" class="shrink" href="#" ng-click="projectService.setProject(7)">
			<img src="resources/images/projects/zoneSixPreview.png">
		</div>
	</div>
</div>