<div id="developerBanner" class="banner">
	<div id="centerMenu">
		<h1>justin</h1>
    <div id="meBlurb">
      <p>Hi, I'm a senior Systems Design engineering student at the University of Waterloo graduating Spring 2018.</p>
      <p>I've interned at Yelp, Athos, CAKE Corporation, SMART Technologies and CIBC.</p>
      <p>I'm also a semi-professional bboy representing Saiko Skematiks Squad.</p>
    </div>
	</div>

	<div class = "nextSectionIndicatorRow">
		<img ng-click="projectService.scrollTo('#developerProjects')" class="bounce" src="resources/images/nextPage.png">
	</div>
</div>
