<div id="developerWorkExperience" class="wrapper">
	<h1 class = "sectionHeader" id="referencesHeader">REFERENCES</h1>
	
	<div class="projectWrapper">
		<div class="textWrapper">
			<h2 class="referenceText" style="text-align: right">From previous employers</h2>
		</div>
		<div class="textWrapper">
			<p class="referenceText">“He learned brand new technologies very quickly, worked independently but asked the right questions, and immediately took ownership of a key feature of our upcoming release. He performed a demo to all stakeholders for the team in a manner more professional than most of what our team has done.”</p>
			<p class="reference">Dave Milford</p>
			<p class="reference">Manager at SMART</p>
		</div>

		<div class="textWrapper">
			<p class="referenceText">“His hard work, determination and absolute dedication to the role have made him an integral member of the team. His output on project testing was beyond expectations and his quality standards were never sacrificed … When additional responsibilities were to be delegated, Justin was the first choice as we could count on him to get the job done quickly, and properly.”</p>
			<p class="reference">Matthew Baker</p>
			<p class="reference">Sr. QA Coordinator at CIBC</p>
		</div>
	</div>
</div>

