<div id="developerWorkExperience" class="wrapper">
	<div class="sectionHeaderWrapper">
		<h1 id="referencesHeader">REFERENCES</h1>
	</div>

	<div class="referencesWrapper">
		<!--div class="textWrapper">
			<h2 class="referenceText" style="text-align: right">From previous employers</h2>
		</div-->

		<div class="textWrapper">
			<p class="referenceText">
			"I can’t wait for him to graduate so we can have a chance at employing him full time. Justin worked on several projects with me during his internship and he showed a <span class="highlights"> great ability to jump into foreign material, understand the tasks involved, be smart enough to know what he didn’t understand and ask for clarification</span> and, most importantly, <span class="highlights">complete the projects on time with a high bar for quality</span>. Cant wait to work with Justin again!"
			</p>
			<p class="reference boss">Jim O'Connor</p>
			<p class="reference">SVP at CAKE</p>
		</div>

		<div class="textWrapper">
			<p class="referenceText">“Justin was <span class="highlights">one of the best co-ops</span> I've ever had, and I've been hiring Waterloo co-ops for years. He brings an <span class="highlights">infectious energy to the team, boundless enthusiasm, and demonstrates tremendous aptitude for development</span> in general. He constantly <span class="highlights">seeks bigger challenges and always delivers on them, bouncing between Javascript/Web stuff, native C++, to GPU/graphics development</span>. He strikes the perfect balance between being independent and asking for help, so he rarely gets stuck and quickly finds his footings ... Any team would be lucky to have him.”</p>
			<p class="reference boss">Dave Milford</p>
			<p class="reference">Manager at SMART</p>
		</div>

		<!--div class="textWrapper">
			<p class="referenceText">
			"I can’t recommend Justin highly enough. I worked with him for two terms and he never failed to impress. He’s a <span class="highlights">super-fast learner, hard worker, great communicator, and highly effective</span>. He’s a great teammate to work with ... "
			</p>
			<p class="reference boss">David Painter</p>
			<p class="reference">Software Engineer at Tableau</p>
		</div-->

		<div class="textWrapper">
			<p class="referenceText">“His <span class="highlights">hard work, determination and absolute dedication</span> to the role have made him an integral member of the team. His output on project testing was beyond expectations and his <span class="highlights">quality standards were never sacrificed </span>… When additional responsibilities were to be delegated, <span class="highlights">Justin was the first choice as we could count on him to get the job done quickly, and properly.</span>”</p>
			<p class="reference boss">Matthew Baker</p>
			<p class="reference">Sr. QA Coordinator at CIBC</p>
		</div>
	</div>
</div>


