<div id="developerSkills" class="wrapper">
	<h1>PICK YOUR POISON</h1>
	<h2>MY TOOLBOX</h2>

	<section id="lab">
        <article>
            <div class="lab_item">		
            <div class="hexagon hexagon2">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image: url(css/images/skills/html5.png); background-color: rgb(228, 77, 38)">                
                    </div>
                 </div>
             </div>
             </div>

              <div class="lab_item">
              <div class="hexagon hexagon2">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image: url(css/images/skills/css3.png);  background-color: rgb(1, 112, 186)">                
                    </div>
                 </div>
             </div>
             </div>

            <div class="lab_item">
              <div class="hexagon hexagon2">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image: url(css/images/skills/javascript.png);">                
                    </div>
                 </div>
             </div>
             </div>

             <div class="lab_item">
              <div class="hexagon hexagon2">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image: url(css/images/skills/jquery.jpg);">                
                    </div>
                 </div>
             </div>
             </div>

              <div class="lab_item">
              <div class="hexagon hexagon2">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image: url(css/images/skills/angularJS.png); background-color: #dadada">                
                    </div>
                 </div>
             </div>
             </div>

              <div class="lab_item">
              <div class="hexagon hexagon2">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image: url(css/images/skills/requireJS.png);">                
                    </div>
                 </div>
             </div>
             </div>
              
              <div class="lab_item">
              <div class="hexagon hexagon2">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image: url(css/images/skills/responsive.png); background-color: #8CAEA9">                
                    </div>
                 </div>
             </div>
             </div>

              <div class="lab_item">
              <div class="hexagon hexagon2">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-color: #669ad3; background-image: url(css/images/skills/CPlusPlus.jpg)">                
                    </div>
                 </div>
             </div>
             </div>

                  <div class="lab_item">        
            <div class="hexagon hexagon2">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image: url(css/images/skills/java.svg); background-color: white">                
                    </div>
                 </div>
             </div>
             </div>

             <div class="lab_item">
              <div class="hexagon hexagon2">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image: url(css/images/skills/xcode.png); background-color: #8fc7ff">                
                    </div>
                 </div>
             </div>
             </div> 

              <div class="lab_item">
              <div class="hexagon hexagon2">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image: url(css/images/skills/arduino.jpg);  background-color: rgb(0, 151, 156)">                
                    </div>
                 </div>
             </div>
             </div>

              <div class="lab_item">
              <div class="hexagon hexagon2">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image: url(css/images/skills/git.png);  background-color: rgb(179, 179, 179)">                
                    </div>
                 </div>
             </div>
             </div>

              <div class="lab_item">
              <div class="hexagon hexagon2">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image: url(css/images/skills/svn.png); background-color: rgb(128, 156, 200)">                
                    </div>
                 </div>
             </div>
             </div> 

    	</article>
    </section>
</div>