<div id="developerProjects" class="wrapper">
	<div class="sectionHeaderWrapper">
		<h1>WORK</h1>
	</div>

	<div class="projectWrapper">
		<div id="landingPages" class="projectBox" href="#" ng-click="projectService.setProject(5)">
			<img class = "shrink" src="resources/images/projects/salesLanding.png">
			<h3>CAKE Corporation</h3>
			<p>Landing Pages: WordPress Plugin</p>
		</div>

		<div id="smartNotebook" class="projectBox" href="#" ng-click="projectService.setProject(4)">
			<img class = "shrink" src="resources/images/projects/notebookPreview.png">
			<h3>SMART Technologies</h3>
			<p>Notebook: Mac & Windows Software</p>
		</div>

		<div id="smartTrek" class="projectBox" href="#" ng-click="projectService.setProject(3)">
			<img class = "shrink" src="resources/images/projects/smartTrekPreview.png">
			<h3>SMART Technologies</h3>
			<p>SMART Trek: 2015 Hackathon Winner</p>
		</div>

		<div id="dontRush" class="projectBox" href="#" ng-click="projectService.setProject(2)">
			<img class = "shrink" src="resources/images/projects/dontRushPreview.png">
			<h3>Personal Project</h3>
			<p>Don't Rush: iPhone Game</p>
		</div>

		<div id="zoneSix" class="projectBox" href="#" ng-click="projectService.setProject(7)">
			<img class = "shrink" src="resources/images/projects/zoneSixPreview.png">
			<h3>Zone Six Design Build Ltd</h3>
			<p>Website Refresh</p>
		</div>


		<div id="weatherSwatch" class="projectBox" href="#" ng-click="projectService.setProject(1)">
			<img class = "shrink" src="resources/images/projects/weatherSwatchPreview.png">
			<h3>Personal Project</h3>
			<p>Weather Swatch: Designer Web App</p>
		</div>
	</div>
</div>
