<div id="developerProjects" class="wrapper">
	<h1>Memoirs of a Developer</h1>
	<h3>MY PROJECTS</h3>

	<div class="projectWrapper">
		<div id="weatherSwatch" class="projectBox" href="#" ng-click="projectService.setProject(1)">
			<img src="css/images/projects/weatherSwatch.png">
		</div>

		<div id="eightBall" class="projectBox" href="#" ng-click="projectService.setProject(2)">
			<img src="css/images/projects/eightBall.png">
		</div>

		<div id="sunriseAlarm" class="projectBox" href="#" ng-click="projectService.setProject(3)">
			<img src="css/images/projects/sunriseAlarm.png">
		</div>

		<div id="xoxo" class="projectBox" href="#" ng-click="projectService.setProject(4)">
			<img src="css/images/projects/xoxo.png">
		</div>

		<div id="metrocity" class="projectBox" href="#" ng-click="projectService.setProject(5)">
			<img src="css/images/projects/metrocity.png">
		</div>

		<div id="zoneSix" class="projectBox" href="#" ng-click="projectService.setProject(6)">
			<img src="css/images/projects/zoneSix.png">
		</div>
	</div>
</div>