<div id="bboyContact" class="wrapper">
	<h1>Hit Me Up</h1>
	<h2>Jams, sessions or workshops?</h2>
	<h2>See you in the cypher</h2>

	<div class="socialMediaRow">
		<div class="socialBox">
			<a id="mail" class="socialButton" href="mailto:jh8wong@uwaterloo.ca?Subject=Hey%20Justin">
				<img src="css/images/social/mail.png">
			</a>
		</div>

		<div class="socialBox" style="margin: 0 25px">
			<a id="facebook" class="socialButton" href="https://www.facebook.com/JustInSyde1">
				<img src="css/images/social/facebook.png">
			</a>
		</div>

		<div class="socialBox">
			<a id="twitter" class="socialButton" href="https://twitter.com/JustInSyde">
				<img src="css/images/social/twitter.png">
			</a>
		</div>
	</div>

	<div class="aboutTheSite">
		<h2>UNDER THE HOOD</h2>
		<p style="margin-bottom: 0">* This site was built with AngularJS, RequireJS, Twitter Bootstrap, jQuery & other APIs.</p>
	</div>
</div>