<div id="crewDescription">
	<bboy-dk ng-show="projectService.isSet(7)"></bboy-dk>
	<bboy-dryleaf ng-show="projectService.isSet(8)"></bboy-dryleaf>
	<bgirl-karebear ng-show="projectService.isSet(9)"></bgirl-karebear>
	<bboy-juvi ng-show="projectService.isSet(10)"></bboy-juvi>
	<bboy-maddy ng-show="projectService.isSet(11)"></bboy-maddy>
	<bboy-isotope ng-show="projectService.isSet(12)"></bboy-isotope>
	<bboy-rawfiki ng-show="projectService.isSet(13)"></bboy-rawfiki>
	<bboy-pabreezy ng-show="projectService.isSet(14)"></bboy-pabreezy>
	<bboy-musclez ng-show="projectService.isSet(15)"></bboy-musclez>
</div>