<div id="bboyJourney" class="wrapper">
	<h1>07 'Til Infinity</h1>
	<h3>Here & There</h3>

	<section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
            </div> 

            <div class="cd-timeline-content">
                <h3>STARTED FROM THE BOTTOM</h3>
                <p>(I started breaking)</p>
                <span class="cd-date">2007</span>
            </div> 

        </div> 

        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
            </div> 

            <div class="cd-timeline-content">
                <h3>FRESH MEAT</h3>
                <p>(Recruited to Saiko)</p>
                <span class="cd-date">2009</span>
            </div> 
        </div> 

        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
            </div> 

            <div class="cd-timeline-content">
                <h3>INITIATION</h3>
                <p>(First crew x crew battle with Saiko @ Harbourfront)</p>
                <span class="cd-date">2010</span>
            </div> 
        </div> 

        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
            </div> 

            <div class="cd-timeline-content">
                <h3>LIGHTS</h3>
                <p>(Opening for Lights)</p>
                <span class="cd-date">2011</span>
            </div> 
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
            </div> 

            <div class="cd-timeline-content">
                <h3>Highschool vs Highschool</h3>
                <p>(UNITY Kick-Off)</p>
                <span class="cd-date">2011</span>
            </div> 
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
            </div> 

            <div class="cd-timeline-content">
                <h3>Top Wanted x Hong Kong</h3>
                <p>(Top 8 amongst 120+ bboys)</p>
                <span class="cd-date">2012</span>
            </div> 
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
            </div> 

            <div class="cd-timeline-content">
                <h3>Local Wins</h3>
                <p>(Community x Waterloo & TMOB x Toronto & Cypher King x Toronto)</p>
                <span class="cd-date">2013-2014</span>
            </div> 
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
            </div> 

            <div class="cd-timeline-content">
                <h3>iPhlow 2: UDEF Pro Breaking Tour x Miami</h3>
                <p>(Top 8 with New Cre)</p>
                <span class="cd-date">2014</span>
            </div> 
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
            </div> 

            <div class="cd-timeline-content">
                <h3>5 Kings x Calgary</h3>
                <p>(Top 8 with Juicebox Crew)</p>
                <span class="cd-date">2014</span>
            </div> 
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
            </div> 

            <div class="cd-timeline-content">
                <h3>Lines of Battle x Medicine Hat</h3>
                <p>(Coming soon!)</p>
                <span class="cd-date">2014</span>
            </div> 
        </div>
    </section>

</div>