<div id="bboyJourney" class="wrapper">
	<h1>07 'Til Infinity</h1>
	<h2>Here & There</h2>

	<section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h3>STARTED FROM THE BOTTOM</h3>
                <p>I met Aaron when I was 12 and I started training 3 hours a day in my parent's basement. I stopped growing at this point.</p>
                <span class="cd-date">'07</span>
            </div> <!-- cd-timeline-content -->

        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h3>FRESH MEAT</h3>
                <p>I battled against my seniors and won my first jam. Oh yea, and I got recruited to Saiko Skematiks Squad.</p>
                <p>♫ STARTED ... BOTTOM </p>

                <div class="buttonRow"  ng-hide="projectService.isSet(10)">
                    <a class="downButton" ng-click="projectService.setJourney(10)">
                        <p>▼</p>
                    </a>
                </div>

                <iframe ng-show="projectService.isSet(10)"width="450px" height="253px" src="http://www.youtube.com/embed/nbCiTdjZK0U?rel=0&start=&end=&autoplay=0" frameborder="0" allowfullscreen></iframe>

                <div class="buttonRow"  ng-show="projectService.isSet(10)">
                    <a class="upButton" ng-click="projectService.setJourney(-2)">
                        <p>▲</p>
                    </a>
                </div>
                <span class="cd-date">'09</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h3>INITIATION</h3>
                <p>First full crew on crew battle with Saiko Skematiks Squad @ Harbourfront</p>
                <div class="buttonRow"  ng-hide="projectService.isSet(11)">
                    <a class="downButton" ng-click="projectService.setJourney(11)">
                        <p>▼</p>
                    </a>
                </div>
                <iframe ng-show="projectService.isSet(11)"width="450px" height="253px" src="http://www.youtube.com/embed/kVrJM-oHiaA?rel=0&start=&end=&autoplay=0" frameborder="0" allowfullscreen></iframe>

                <div class="buttonRow"  ng-show="projectService.isSet(11)">
                    <a class="upButton" ng-click="projectService.setJourney(-2)">
                        <p>▲</p>
                    </a>
                </div>
                <span class="cd-date">'10</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h3>5 Pointz | NYC</h3>
                <p>Every bboy has to visit the birth place of hip-hop at one point, right? I was lucky enough to get a picture at 5 Pointz before it got demolished in '14.</p>
                <div class="buttonRow" ng-hide="projectService.isSet(12)">
                    <a class="downButton" ng-click="projectService.setJourney(12)">
                        <p>▼</p>
                    </a>
                </div>
                <img ng-show="projectService.isSet(12)" src="css/images/bboy/fivePointz.JPG">

                <div class="buttonRow" ng-show="projectService.isSet(12)">
                    <a class="upButton" ng-click="projectService.setJourney(-2)">
                        <p>▲</p>
                    </a>
                </div>
                <span class="cd-date">'10</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h3>LIGHTS</h3>
                <p>Opened up for Lights from Canada.</p>
                <div class="buttonRow" ng-hide="projectService.isSet(13)">
                    <a class="downButton" ng-click="projectService.setJourney(13)">
                        <p>▼</p>
                    </a>
                </div>
                <iframe ng-show="projectService.isSet(13)"width="450px" height="253px" src="http://www.youtube.com/embed/-0A9EIeQFjc?rel=0&start=65&end=80&autoplay=0" frameborder="0" allowfullscreen></iframe>
                <img ng-show="projectService.isSet(13)" src="css/images/bboy/lights.jpg">

                <div class="buttonRow" ng-show="projectService.isSet(13)">
                    <a class="upButton" ng-click="projectService.setJourney(-2)">
                        <p>▲</p>
                    </a>
                </div>
                <span class="cd-date">'11</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h3>Highschool vs Highschool</h3>
                <p>The best highschools battle against each other every year at Dundas Square, Toronto.</p>
                <div class="buttonRow" ng-hide="projectService.isSet(14)">
                    <a class="downButton" ng-click="projectService.setJourney(14)">
                        <p>▼</p>
                    </a>
                </div>
                <iframe ng-show="projectService.isSet(14)"width="450px" height="253px" src="http://www.youtube.com/embed/AtGydS9MuK8?rel=0&start=&end=&autoplay=0" frameborder="0" allowfullscreen></iframe>
                <div class="buttonRow" ng-show="projectService.isSet(14)">
                    <a class="upButton" ng-click="projectService.setJourney(-2)">
                        <p>▲</p>
                    </a>
                </div>
                <span class="cd-date">'11</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h3>Top Wanted | Hong Kong</h3>
                <p>Ranked top 8 amongst 120+ bboys from China, Malaysia, Europe, Taiwan, Japan, and others.</p>
                <div class="buttonRow" ng-hide="projectService.isSet(15)">
                    <a class="downButton" ng-click="projectService.setJourney(15)">
                        <p>▼</p>
                    </a>
                </div>
                <img ng-show="projectService.isSet(15)" src="css/images/bboy/hk.jpg">
                <div class="buttonRow" ng-show="projectService.isSet(15)">
                     <a class="upButton" ng-click="projectService.setJourney(-2)">
                        <p>▲</p>
                    </a>
                </div>
                <span class="cd-date">'12</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h3>Win x Community | Waterloo</h3>
                <p>1st place with my partner Kang from uLaurier.</p>
                <div class="buttonRow" ng-hide="projectService.isSet(16)">
                    <a class="downButton" ng-click="projectService.setJourney(16)">
                        <p>▼</p>
                    </a>
                </div>
                <iframe ng-show="projectService.isSet(16)"width="450px" height="253px" src="http://www.youtube.com/embed/ZIVxwPNOfec?rel=0&start=&end=&autoplay=0" frameborder="0" allowfullscreen></iframe>
                <div class="buttonRow" ng-show="projectService.isSet(16)">
                    <a class="upButton" ng-click="projectService.setJourney(-2)">
                        <p>▲</p>
                    </a>
                </div>
                <span class="cd-date">'13</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h3>Win x Battle at TOB | Toronto</h3>
                <p>1st place. </p>
                <div class="buttonRow" ng-hide="projectService.isSet(17)">
                    <a class="downButton" ng-click="projectService.setJourney(17)">
                        <p>▼</p>
                    </a>
                </div>
                <iframe ng-show="projectService.isSet(17)"width="450px" height="253px" src="http://www.youtube.com/embed/U5pxifqz3LU?rel=0&start=&end=&autoplay=0" frameborder="0" allowfullscreen></iframe>
                <div class="buttonRow" ng-show="projectService.isSet(17)">
                    <a class="upButton" ng-click="projectService.setJourney(-2)">
                        <p>▲</p>
                    </a>
                </div>
                <span class="cd-date">'13</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h3>Win x UNITY: Cypher King | Toronto</h3>
                <p>1st Place solo.</p>
                <span class="cd-date">'14</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h3>iPhlow 2: UDEF Pro Breaking Tour | Miami</h3>
                <p>Top 8 with Bboy New Cre from Miami.</p>
                <span class="cd-date">'14</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h3>5 Kings | Calgary</h3>
                <p>Top 8 with Juicebox Crew.</p>
                <div class="buttonRow" ng-hide="projectService.isSet(18)">
                    <a class="downButton" ng-click="projectService.setJourney(18)">
                        <p>▼</p>
                    </a>
                </div>
                <iframe ng-show="projectService.isSet(18)"width="450px" height="253px" src="http://www.youtube.com/embed/e_6FoGAFquw?rel=0&start=249&end=289&autoplay=0" frameborder="0" allowfullscreen></iframe>
                <div class="buttonRow" ng-show="projectService.isSet(18)">
                    <a class="upButton" ng-click="projectService.setJourney(-2)">
                        <p>▲</p>
                    </a>
                </div>
                <span class="cd-date">'14</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h3>Lines of Battle | Medicine Hat</h3>
                <p>(Coming soon!)</p>
                <span class="cd-date">'14</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h3>I'm Juvi J, & this is me</h3>
                <div class="buttonRow" ng-hide="projectService.isSet(19)">
                    <a class="downButton" ng-click="projectService.setJourney(19)">
                        <p>▼</p>
                    </a>
                </div>
                <iframe ng-show="projectService.isSet(19)"width="450px" height="253px" src="http://www.youtube.com/embed/6ibW7h-ezWI?rel=0&start=&end=&autoplay=0" frameborder="0" allowfullscreen></iframe>
                <div class="buttonRow"  ng-show="projectService.isSet(19)">
                    <a class="upButton" ng-click="projectService.setJourney(-2)">
                        <p>▲</p>
                    </a>
                </div>
                <span class="cd-date">∞</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->
    </section>
</div>