<div id="bboyCrew" class="wrapper">
	<h1>Saiko Skematiks Squad</h1>
	<h2>The Crew</h2>

	<div class="crewWrapper">
		<div class="memberWrapper">
			<div id="dk" class="memberCircle shrink" href="#" ng-click="projectService.setProject(7)">
			</div>
		</div>

		<div class="memberWrapper memberWrapperMiddle">
			<div id="dryleaf" class="memberCircle shrink " href="#" ng-click="projectService.setProject(8)">
			</div>
		</div>

		<div class="memberWrapper">
			<div id="karebear" class="memberCircle shrink" href="#" ng-click="projectService.setProject(9)">
			</div>
		</div>

		<div class="memberWrapper">
			<div id="juvi" class="memberCircle shrink" href="#" ng-click="projectService.setProject(10)">
			</div>
		</div>

		<div class="memberWrapper memberWrapperMiddle">
			<div id="maddy" class="memberCircle shrink " href="#" ng-click="projectService.setProject(11)">
			</div>
		</div>

		<div class="memberWrapper">
			<div id="isotope" class="memberCircle shrink" href="#" ng-click="projectService.setProject(12)">
			</div>
		</div>

		<div class="memberWrapper">
			<div id="rawfiki" class="memberCircle shrink" href="#" ng-click="projectService.setProject(13)">
			</div>
		</div>

		<div class="memberWrapper memberWrapperMiddle">
			<div id="pabreezy" class="memberCircle shrink " href="#" ng-click="projectService.setProject(14)">
			</div>
		</div>

		<div class="memberWrapper">
			<div id="musclez" class="memberCircle shrink" href="#" ng-click="projectService.setProject(15)">
			</div>
		</div>
	</div>
</div>