<div id="bboyStory" class="wrapper">
	<h1>Dance is Love</h1>
	<h2>Dance is Life</h2>

	<div id="blurb">
		<div class="blurbTextWrapper">
			<div class="blurbText">
				<h3>BEFORE JUVI</h3>
				<p>The first time I experienced breaking was in the summer of 2007. We were playing a game called Freeze dance. The rules are simple: dance when the music's playing and freeze when the music stops. We were in a cypher and my friend Aaron popped a baby freeze right when the song froze. It felt like all of time had stopped with him. Since that day, I have yet to come across another experience more powerful. And it was at that very moment - with Aaron still holding his freeze - that I decided that I would become a bboy.</p>
			</div>
		</div>
		
		<div class="blurbTextWrapper">
			<div class="blurbText">
				<h3>Fresh off the Bus</h3>
				<p>At the age of 12, I used to sneak into my soon-to-be highschool to practice with their seniors and Saiko Skematiks Squad (the best crew at school). I trained about 3 hours a day - everyday - and I started off learning all of the flashy powermoves. You know, windmills, flares, 1990s, jackhammers, backflips and all that jazz. In 2009, I was recruited into Saiko Skematiks Squad.</p>
			</div>
		</div>
		
		<div class="blurbTextWrapper">
			<div class="blurbText">
				<h3>High School</h3>
				<p>High school was tough for me. I went from practicing 21 hours a week to 2 hours a week. Grades became my top priority and I also started an afterschool breakdance program at my former junior high school. I trained, competed, and performed whenever I could. If I could relive high school I would definitely invest more time into my craft.</p>
			</div>
		</div>
		
		<div class="blurbTextWrapper">
			<div class="blurbText">
				<h3>I am juvi j</h3>
				<p>Today, I practice about 12 hours a week while balancing my social life and my career as a developer. I've also been focusing on developing my style as an artist and my voice as a dancer. As a young kid, I yearned to hear the crowd roar. But since then I've travelled to different cities around the world and I've gotten to dance with their locals. However, I don't rock the bboy persona as most bboys do so the locals don't pay me much attention - that is, until they see me throwdown. Dance has become my voice and has allowed me to share my story: you can be whoever you want to be. Just as Bruce Wayne is a playboy billionaire as he is Batman, I am a developer by day and a bboy by night. </p>
			</div>
		</div>	
	</div>
</div>