<div id="crewDescription">
	<bboy-dk ng-show="projectService.isSet(1)"></bboy-dk>
	<bboy-dryleaf ng-show="projectService.isSet(2)"></bboy-dryleaf>
	<bgirl-karebear ng-show="projectService.isSet(3)"></bgirl-karebear>
	<bboy-juvi ng-show="projectService.isSet(4)"></bboy-juvi>
	<bboy-maddy ng-show="projectService.isSet(5)"></bboy-maddy>
	<bboy-isotope ng-show="projectService.isSet(5)"></bboy-isotope>
	<bboy-rawfiki ng-show="projectService.isSet(7)"></bboy-rawfiki>
	<bboy-pabreezy ng-show="projectService.isSet(8)"></bboy-pabreezy>
	<bboy-musclez ng-show="projectService.isSet(9)"></bboy-musclez>
</div>