<div id="bboyJourney" class="wrapper">
	<h1>07 'Til Infinity</h1>
	<h3>Here & There</h3>

	<section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <img src="css/img/eric.jpg">
                <h2>BORN IN HONG KONG,</h2>
                <p>Eric Lee moved to Canada in the 1980s and graduated from the University of Toronto with a degree in Landscape Architecture in 1986. Eric subsequently accepted a professional position at Shankland Cox Architects and Planners in Hong Kong. He also received professional construction experience as a site manager and site agent for large construction projects overseas with various companies. </p>
                <span class="cd-date">1980 to 1986</span>
            </div> <!-- cd-timeline-content -->

        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>WHEN HE RETURNED TO CANADA,</h2>
                <p>Eric worked for the prestigious landscape and design build company Juergen Partridge Ltd. After obtaining his Bachelor of Landscape Architect(BLA) degree and receiving accreditation from OALA and CSLA, he established his own design and construction firm in 1994.</p>
                <img src="css/img/eric2.jpg">
                <span class="cd-date">1994</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>OVER THE PAST TWENTY YEARS,</h2>
                <p>he has maintained a close working relationship with major landscape and architecture firms by providing professional, innovative designs across the GTA.</p>
                <span class="cd-date">1994 - Present</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        
    </section>
</div>