<div id="bboyCrew" class="wrapper">
	<h1>Saiko Skematiks Squad</h1>
	<h3>The Crew</h3>

	<div class="crewWrapper">
		<div class="memberWrapper">
			<div id="dk" class="memberCircle" href="#" ng-click="projectService.setProject(1)">
				<!--img src="css/images/crewMembers/dk_profile.jpg"-->
			</div>
		</div>

		<div class="memberWrapper memberWrapperMiddle">
			<div id="dryleaf" class="memberCircle " href="#" ng-click="projectService.setProject(2)">
				<!--img src="css/images/crewMembers/dryLeaf_profile.jpg"-->
			</div>
		</div>

		<div class="memberWrapper">
			<div id="karebear" class="memberCircle" href="#" ng-click="projectService.setProject(3)">
				<!--img src="css/images/crewMembers/karebear_profile.jpg"-->
			</div>
		</div>

		<div class="memberWrapper">
			<div id="juvi" class="memberCircle" href="#" ng-click="projectService.setProject(4)">
				<!--img src="css/images/crewMembers/juvi_profile2.jpg"-->
			</div>
		</div>

		<div class="memberWrapper memberWrapperMiddle">
			<div id="maddy" class="memberCircle " href="#" ng-click="projectService.setProject(5)">
				<!--img src="css/images/crewMembers/maddy_profile2.jpg"-->
			</div>
		</div>

		<div class="memberWrapper">
			<div id="isotope" class="memberCircle" href="#" ng-click="projectService.setProject(6)">
				<!--img src="css/images/crewMembers/isotope_profile.jpg"-->
			</div>
		</div>

		<div class="memberWrapper">
			<div id="rawfiki" class="memberCircle" href="#" ng-click="projectService.setProject(7)">
				<!--img src="css/images/crewMembers/rawfiki_profile.jpg"-->
			</div>
		</div>

		<div class="memberWrapper memberWrapperMiddle">
			<div id="pabreezy" class="memberCircle " href="#" ng-click="projectService.setProject(8)">
				<!--img src="css/images/crewMembers/pabreezy_profile.jpg"-->
			</div>
		</div>

		<div class="memberWrapper">
			<div id="musclez" class="memberCircle" href="#" ng-click="projectService.setProject(9)">
				<!--img src="css/images/crewMembers/musclez_profile.jpg"-->
			</div>
		</div>
	</div>
</div>