<title>A Developer | justinSYDE</title>
<navbar></navbar>
<developer-banner></developer-banner>
<developer-skills></developer-skills>
<developer-projects></developer-projects>
<developer-project-descriptions></developer-project-descriptions>
<developer-contact></developer-contact>

<!-- The maps section is loaded here because loading it using a tag would mean that gmap_canvas is defined AFTER gmap_init() is called-->

<div id="gmaps">
    <div style="overflow:hidden; height:400px;width: 100%;">
        <div id="gmap_canvas" style="height:400px;width:100%;">
        </div>
        <a class="google-map-code" href="http://www.mapembed.com" id="get-map-data">mapembed.com</a>
    </div>
</div>

<footer-justin></footer-justin>